<ion-header>
  <ion-toolbar>
    <ion-title>pair</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="row_center">
      <ion-button (click)="pair()">Pair</ion-button>
    </ion-row>

    <ion-row class="row_center" [ngStyle]="{'visibility':isLoading ? 'visible' : 'hidden'}">
      <ion-col class="row_center" *ngIf="isLoaded; else success1">
        <ion-col class="col_left">
          Device Paired
        </ion-col>
      </ion-col>
      <ng-template #success1>
        <ion-col class="col_left">
          Searching For Device
        </ion-col>
      </ng-template>
      <ion-col class="row_center" *ngIf="isLoaded; else loading1">
        <ion-icon name="checkbox-outline" color="success"></ion-icon>
      </ion-col>
      <ng-template #loading1>
        <ion-col class="row_center">
          <ion-spinner name="crescent" #load_wheel></ion-spinner>
        </ion-col>
      </ng-template>
    </ion-row>

    <ion-row class="row_center" [ngStyle]="{'visibility':deviceName && isLoaded ? 'visible' : 'hidden'}">
      <ion-col class="row_center" class="results">
        Device Found: {{ deviceName }}
      </ion-col>
    </ion-row>

    <ion-row class="row_center" [ngStyle]="{'visibility':isQuerying ? 'visible' : 'hidden'}">
      <ion-col class="row_center" *ngIf="isQueried; else success2">
        <ion-col class="col_left">
          Data Found on Device
        </ion-col>
      </ion-col>
      <ng-template #success2>
        <ion-col class="col_left">
          Checking for Data
        </ion-col>
      </ng-template>
      <ion-col class="row_center" *ngIf="isQueried; else loading2">
        <ion-icon name="checkbox-outline" color="success"></ion-icon>
      </ion-col>
      <ng-template #loading2>
        <ion-col class="row_center">
          <ion-spinner name="crescent" #load_wheel></ion-spinner>
        </ion-col>
      </ng-template>
    </ion-row>

    <ion-row class="row_center" [ngStyle]="{'visibility': isQueried ? 'visible' : 'hidden'}">
      <ion-col class="row_center" class="results">
        Stored Sessions: {{ numSessionsOnDisk }}
        Total  Duration: {{ numMinutesOnDisk }} seconds
      </ion-col>
    </ion-row>

    <ion-row class="row_center" [ngStyle]="{'visibility': isQueried ? 'visible' : 'hidden'}">
      <ion-col class="row_center" class="results">
        <ion-button (click)="loadOffline()">Download Stored Data</ion-button>
      </ion-col>
      <ion-col class="row_center" class="results">
        <ion-button (click)="startOnline()">Start New Live Session</ion-button>
      </ion-col>
    </ion-row>


    <ion-row class="row_center" [ngStyle]="{'visibility':DownloadLocal && isQueried ? 'visible' : 'hidden'}" *ngFor="let session of sessions; let i = index">
      <ion-col class="row_center" class="results">
        Session: {{ session.sessionID }} <br>
        Date: {{ session.date | date:'medium' }} <br>
        Duration: {{ session.numSamples / 10 }} seconds <br>
        Size: {{ session.numSamples * bleService.numMetrics / 1000 }} kB
      </ion-col>
      <ion-col class="row_center">
        <ion-icon class="small-pad" name="cloud-upload-outline" (click)="cloudWrite(session.sessionID)"></ion-icon>
        <ion-icon class="small-pad" name="folder-outline" (click)="localWrite(session.sessionID)"></ion-icon>
        <ion-icon class="small-pad" name="trash-outline" (click)="delete(session.sessionID)"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row class="row_center" [ngStyle]="{'visibility':isImporting ? 'visible' : 'hidden'}">
      <ion-col class="col_left">
        Task Queue
      </ion-col>
    </ion-row>

    <ion-row class="row_center" [ngStyle]="{'visibility':taskQueue}" *ngFor="let task of taskQueue; let i = index">
      <ion-col class="row_center" class="results">
        {{task.task}} session {{ task.id }}
      </ion-col>
      <ion-col class="row_center" *ngIf="task.completed; else taskAwait">
        100%
        <ion-icon name="checkbox-outline" color="success" class="small-pad"></ion-icon>
      </ion-col>
      <ng-template #taskAwait>
        <ion-col class="row_center">
          {{ bleService.currentLoadPercent * 100 | number }}%
          <ion-spinner name="crescent" #load_wheel class="small-pad"></ion-spinner>
        </ion-col>
      </ng-template>
    </ion-row>

    <ion-row class="row_center" [ngStyle]="{'visibility':isImported ? 'visible' : 'hidden'}">
      <ion-col class="row_center">
        Data Saved!
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>