/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
    --ion-color-gold: #498aff;
    --ion-color-gold-rgb: 73, 138, 255;
    --ion-color-gold-contrast: #000000;
    --ion-color-gold-contrast-rgb: 0, 0, 0;
    --ion-color-gold-shade: #498aff;
    --ion-color-gold-tint: #498aff;

    --ion-color-orange: #ffa811;
    --ion-color-orange-rgb: 255, 166, 17;
    --ion-color-orange-contrast: #000000;
    --ion-color-orange-contrast-rgb: 0, 0, 0;
    --ion-color-orange-shade: #ffa811;
    --ion-color-orange-tint: #ffa811;

    --ion-color-yellow: #ffcb2b;
    --ion-color-yellow-rgb: 255, 203, 43;
    --ion-color-yellow-contrast: #000000;
    --ion-color-yellow-contrast-rgb: 0, 0, 0;
    --ion-color-yellow-shade: #ffcb2b;
    --ion-color-yellow-tint: #ffcb2b;
}
.ion-color-blue {
    --ion-color-base: var(--ion-color-gold) !important;
    --ion-color-base-rgb: var(--ion-color-gold-rgb) !important;
    --ion-color-contrast: var(--ion-color-gold-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-gold-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-gold-shade) !important;
    --ion-color-tint: var(--ion-color-gold-tint) !important;
}

.ion-color-orange {
    --ion-color-base: var(--ion-color-orange) !important;
    --ion-color-base-rgb: var(--ion-color-orange-rgb) !important;
    --ion-color-contrast: var(--ion-color-orange-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-orange-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-orange-shade) !important;
    --ion-color-tint: var(--ion-color-orange-tint) !important;
}

.ion-color-yellow {
    --ion-color-base: var(--ion-color-yellow) !important;
    --ion-color-base-rgb: var(--ion-color-yellow-rgb) !important;
    --ion-color-contrast: var(--ion-color-yellow-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-yellow-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-yellow-shade) !important;
    --ion-color-tint: var(--ion-color-yellow-tint) !important;
}