<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Micro Flow
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let session of sessions; let i = index">
      <ion-label>
        <ion-card>
          <ion-card-title class="title">
            Workout from {{ session.date.toDate() | date: 'short' }}
          </ion-card-title>
          <ion-grid class="center_text" id="selector{{i}}">
            <ion-row>
              <ion-col class="left" [ngStyle]="modeSelected[i] =='airflow'?{'color': '#4989ff'} : {'color': '#8c8c8c'}" (click)="airFlowClick(i)">
                Air Flow
              </ion-col>
              <ion-col class="center" [ngStyle]="modeSelected[i] =='temp'?{'color': 'rgb(255, 166, 17)'} : {'color': '#8c8c8c'}" (click)="tempClick(i)">
                Temperature
              </ion-col>
              <ion-col class="right" [ngStyle]="modeSelected[i] =='analysis'?{'color': 'rgb(255, 203, 43)'} : {'color': '#8c8c8c'}" (click)="analysisClick(i)">
                Analysis
              </ion-col>
            </ion-row>
          </ion-grid>
          <canvas id="canvas{{i}}" #charts></canvas>
          <ion-item>
            <ion-range #nobs id="nobs{{i}}" dual-knobs="true" min=0 max="{{session.numSamples / 10}}" color="secondary" pin="true" step=1  (ionChange)="onChange($event, i)">
              <ion-label slot="start">0</ion-label>
              <ion-label slot="end">{{session.numSamples / 10}}</ion-label>
            </ion-range>
          </ion-item>
        </ion-card>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
