<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Micro Flow
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngIf="user"> 
    <ion-label>
      {{ user.displayName }}
    </ion-label>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let session of sessions; let i = index">
      <ion-label>
        <canvas id="canvas{{i}}" #charts></canvas>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addSession()">
      Add Data
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="signOut()">
      Sign-Out
    </ion-fab-button>
  </ion-fab>

</ion-content>
